<li>
    {{name}}

    <button class="change-watched" data-id="{{id}}" data-newwatched="{{watched}}">
        {{#if watched}}Watched It!{{else}}Didn't watch yet{{/if}}
    </button>

    <button class="delete-movie" data-id="{{this.id}}">DELETE!</button>
</li>